* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.container h1 {
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.start_measure {
    position: relative;
    width: 80%;
    height: 20rem;
    background-image: url("../../assets/images/heart-icon-3d.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: beat 1s ease infinite;
}
.text_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 1000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
.card_options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    width: 90%;
    height: 10rem;
    margin-bottom: 1rem;
    background-color: #e71e50;
    border-radius: 1rem;
    border: 1px solid #e71e50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.card p {
    color: #fff;
    font-weight: 1000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}
.card img {
    width: 70px;
    object-fit: cover;
}
.card ion-icon {
    font-size: 58px;
    color: #fff;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.sub_content {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #e2e6ee;
    padding: 1rem;
    border-radius: 1rem;
}

.sub_content input {
    width: 10%;
    padding: 1rem;
    border: 1px solid #e71e50;
    border-radius: 1rem;
    margin-right: 1rem;
}

.disabled {
    color: #b1b2b3;
    cursor: not-allowed;
}

.appointment {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.profileContainer {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.backArrow {
    margin-right: 10px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}
.formProfile {
    width: 90%;
    border: 1px solid #d1d1d1;
    padding: 20px;
    border-radius: 15px;
    background-color: #e2e6ee;
}
.inputGroup label {
    display: block;
    margin: 10px 0;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

.toggleButton, .genderButton, .saveButton {
    width: 100%;
    border: none;
    background: #d1d1d1;
    color: #fff;
    cursor: pointer;
}

.saveButton {
    background: #E71E50;
}

.active {
    background: #E71E50;
}

.genderButtons {
    display: flex;
    margin-bottom: 10px;
}

.genderButton {
    flex: 1;
    margin-right: 5px;
}

.genderButton:last-child {
    margin-right: 0;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    bottom: 0;
}

.footer .btn {
    width: 100%;
    height: 100%;
    background-color: #464545;
    color: #fff;
    font-size: 16px;
    font-weight: 1000;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 1rem;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


@media(min-width:500px){
    .start_measure {
        width:46%;
    }
}
@media(min-width:992px){
    .start_measure {
        width: 24%;
    }
}

