* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.container h1 {
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    padding: 1rem;
}

.search_input {
    width: 88%;
}

.search_btn {
    width: 10%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: 0.8rem;
}

.card_options {
    width: 100%;
    display: flex;

}

.card {
    width: 90%;
    margin-bottom: 1rem;
    background-color: #f4f5f8;
    border-radius: 1rem;
    border: 1px solid #464545;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    grid-template-columns: 80% 20%;
}

/* .card:hover {
    animation: beat 0.5s infinite;
} */

.card_content {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
}

.title {
    color: #464545;
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 16px;
}

.sub_title {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 1000;
    text-transform: uppercase;
    line-height: 2;
    font-size: 14px;
    word-spacing: 0.2rem;
}

.card_text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5;
}

.card img {
    width: 600%;
    object-fit: cover;
}

.card ion-icon {
    font-size: 58px;
    color: rgba(0, 0, 0, 0.5);
}

.card_image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_button {
    width: 72%;
    padding: 0.5rem;
    background-color: #e71e50;
    color: #fff;
    font-size: 13px;
    font-weight: 1000;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    bottom: 0;
}

.footer .btn {
    width: 100%;
    height: 100%;
    background-color: #464545;
    color: #fff;
    font-size: 16px;
    font-weight: 1000;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 1rem;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


@media(min-width:500px){
    .start_measure {
        width:46%;
    }
}
@media(min-width:992px){
    .start_measure {
        width: 24%;
    }
}

